.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
}

.navbar {
  width: 100%;
  height: 10%;
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center
}

a {
  text-decoration: none;
  color: aliceblue;
}

.noissue {
  background-color: rgb(189, 197, 204);
  width: 90%;
  height: 65vh;
  margin: 5%;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 3vw;
  font-weight: 500;
}

.desc {
  margin: 20px 10%;
}

.createbtn {
  background-color: aquamarine;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}



.CreateIssue {
  background-color: rgb(209, 215, 220);
  width: 90%;
  height: 65vh;
  margin: 5%;
  border: 2px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  width: 80%;
  height: 30px;
  border-radius: 8px;
  border: none;
  margin: 20px 10%;
  text-align: center;
  outline: none;
}

.description {
  width: 80%;
  height: 50%;
  border-radius: 8px;
  border: none;
  outline: none;
}

.submitissue {
  margin: 10px 0px;
  background-color: aquamarine;
  height: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.issuecard{
  height: 100px;
  width: 90%;
  border: 2px solid gray;
  margin: 10px auto;
  border-radius: 8px;
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
}

.cardtitle{
  font-size: 24px;
  font-weight: 500;
}

.closeissue{
  width: 50%;
  height: 30px;
  background-color: aquamarine;
  border-radius: 8px;
}

.IssueList{
  background-color: rgb(202, 199, 195);
}